doctype 5
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    style(type="text/css")
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #frame { width: 1000px; height: 485px; margin: 50px; display: inline-block }
      #map_canvas { width:640px; height:480px; float: left; border: 1px solid #A4A4A4}
      #info { width: 250px; height:476px; margin: 0px 5px; border: 1px solid #A4A4A4; float: left; padding: 2px 5px}
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC53NfBlmn3k-B5CYYAHgMI2daUAXccL8Q&sensor=true")
    script(type="text/javascript", src="/javascripts/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/javascripts/paris.js")
  body(onload="initialize()")
    #frame
      #map_canvas
      #info
