doctype 5
html(lang="en")
  head
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    style(type="text/css")
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { width:640px; height:480px; margin: 50px; 
                    border: 10px solid black}
      #info { width: 400px; height:480px; margin-top: 50px; border: 5px solid blue}
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC53NfBlmn3k-B5CYYAHgMI2daUAXccL8Q&sensor=true")
    script(type="text/javascript", src="/javascripts/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/paris.js")
  body(onload="initialize()")
    #map_canvas
    #info
