doctype 5
html(lang="en")
  head
    title Getting to the Eiffel tower - a MongoDB spatial demo
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    meta(property="og:title", content="Getting to the Eiffel tower - a MongoDB spatial demo")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://pure-dawn-8702.herokuapp.com/")
    meta(property="og:image", content="http://pure-dawn-8702.herokuapp.com/images/og_image.png")
    style(type="text/css").
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
      #frame { width: 914px; height: 485px; margin: 50px; }
      #streetview { width:640px; height:480px; float: left; border: 1px solid #A4A4A4}
      #info { width: 250px; height:200px; margin: 0px 5px; border: 1px solid #A4A4A4; float: left; padding: 2px 5px}
      #map_canvas { width: 250px; height:265px; margin: 5px 5px 0px 5px; border: 1px solid #A4A4A4; float: left; padding: 2px 5px}
      #credits {float: left; width: 905px; padding: 1px 1px; border: 1px solid #A4A4A4; margin: 4px 0px}
    script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC53NfBlmn3k-B5CYYAHgMI2daUAXccL8Q&sensor=true")
    script(type="text/javascript", src="/javascripts/paris.js")
  body(onload="initialize()")
    #frame
      h1 Geo-location example Eiffel tower area
      p This application is a proof of concept for combining various technologies to create a cloud-based Node.js app that uses geometric data to determine proximity to points of interest.
      p While moving around in the street view panorama, the information box to the right will be updated to reflect position and proximity to a metro station or the Eiffel tower. The information page for the Eiffel tower will only show when you get within a radius of 50 meters from the Eiffel tower. Try navigating towards the Eiffel tower using either the panorama or drag the street view puppet to the red circle surrounding the Eiffel tower.
      #streetview
      #container
        #info
        #map_canvas
      #credits
        strong Created using:
        a(href="http://mapicons.nicolasmollet.com/")
          img(src="/images/milogo.gif")
        a(href="http://jquery.org/")
          img(src="/images/jquery.png", height="55")
        a(href="http://nodejs.org/")
          img(src="/images/nodelogo.png", height="55")
      small Daniel Gressmann
      p get the source at:
        a(href="https://github.com/dgressmann/mongodb-geo-test", target="_blank")
          https://github.com/dgressmann/mongodb-geo-test
          img(src="https://travis-ci.org/dgressmann/mongodb-geo-test.png?branch=master")

